#aboutPage header{
    height: auto;
}

.headerContent{
    margin: 0px auto;
    margin-top: 120px;
}

.headerContentInside{
    text-align: center;
    margin: 0px auto;
}

.headerContentInside h1{
    color: #4A4A4A;
    text-align: center;
}

.aboutPage .headerContent{
    margin-bottom: 40px !important;
}





















































