#aboutPage header{
    height: auto;
}

#aboutPage .siteLinks a{
    color: #4A4A4A;
}

# .siteLinks a:hover{
    color: #4A4A4A;
}

#aboutPage .siteLinksNotBoxed:hover{
    border-bottom: 2px solid #4A4A4A;
}

#aboutPage .trigger{
    color: #fff !important;
}

.headerContent{
    margin: 0px auto;
    margin-top: 120px;
    height: 100px;
    clear: both;
    display: block;
}

.headerContentInside{
    text-align: center;
    margin: 0px auto;
}

.headerContentInside h1{
    color: #4A4A4A;
    text-align: center;
}

.aboutPage .headerContent{
    margin-bottom: 40px !important;
}

#imgPlaceHolder{
    max-width: 600px;
    height: 500px;
    margin: 0px auto;
    background: #4A4A4A;
    width: 90%;
    display: block;
    margin-top: 80px;
    clear: both;
}

.aboutContent{
    -webkit-box-shadow: 0px -1px 5px 0px rgba(122,122,122,0.3);
    -moz-box-shadow: 0px -1px 5px 0px rgba(122,122,122,0.3);    
    box-shadow: 0px -1px 5px 0px rgba(122,122,122,0.3);
    min-height: 300px;
}

.aboutContentInside{
    max-width: 600px;
    width: 90%;
    margin: 0px auto;
    height: auto;
    min-height: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.aboutContentInside div{
    padding-bottom: 30px;
}

#aboutHeader{
    height: 60px;
}

.aboutContentInside div h1{
    font-size: 12px;
    color: #f6f6f6;
}

.aboutContentInside p{
    color: #4A4A4A;
}

.location{
    min-height: 200px;
    height: auto;
    overflow-y: hidden;
    position: relative;
}

.map, .currentLoc{
    display: inline-block;
    max-height: 700px;
    position: relative;
}

.map{
    width: 60%;
    float: left;
}

.currentLoc{
    float: right;
    width: 40%;
    background-color: #262844;
    height: 100%;
}

.currentLocContent{
    padding-left: 60px;
    padding-top: 120px;
    padding-bottom: 160px;
}

.currentLocContent h3{
    font-family: 'proxima_nova_altbold';
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    padding-bottom: 12px;
}

.currentLocContent p{
    color: #fff;
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
}

.padding40px{
    padding-bottom: 30px;
}

.greyedouttext{
    opacity: 0.5;
}

#imgPlaceHolder H3{
    color: #fff;
    text-align: center;
    padding-top: 230px;
    text-transform: uppercase;
}

.map{
    background: url(/imgs/map-washingtondc.png); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.aboutContentInside h4{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'proxima_nova_altbold';
    color: #4A4A4A;
    font-size: 18px;
    padding-bottom: 10px;
}

#aboutpage .paragraphText{
    padding-bottom: 10px;
}

.aboutContent{
    background-color: #f6f6f6;
}

#patrickBio{
    padding-top: 40px;
}

.contactName{
    font-family: 'proxima_nova_altbold';
}

#contactName2{
    padding-top: 5px;
}

.eMadr, .tel{
    color: #fff;
    padding-bottom: 1px;
}

.eMadr:hover, .tel:hover{
    border-bottom: 1px solid #fff;
}

.hqloc, .contactDiv, .locations{
    padding-bottom: 30px;
    height: auto;
    overflow-y: auto;
    clear: both;
}

@media (max-width:700px){
    .map, .currentLoc{
        display: block;
        clear: both;
        float: none;
        width: 100%;
        max-height: 450px;
        text-align: center;
    }
    
    .currentLocContent{
        padding-left: none;
        padding: 60px 0px;
    }
    
}















































