#registerHeader{
    
}

.headerContent{
    margin-top: 120px;
    max-width: 500px;
    width: 90%;
}

.headerContentInside{
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    max-width: 400px;
}

.headerContentInside h1{
    color: #4A4A4A;
    font-size: 28px;
}

.headerContentInside h2{
    color: #797979;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

#registerPage .siteLinks a{
    color: #4A4A4A;
}

#registerPage .trigger{
    color: #fff !important;
}

#formSection{
    margin-top: 80px;
}

.formContainer{
    max-width: 300px;
    width: 90%;
    margin: 0px auto;
    display: block;
    min-height: 200px;
    margin: 0px auto;
}

label{
    color: #4A4A4A;
}

.formInputs{
    margin-bottom: 25px;
}

.js-cm-email-input, .formInput{
    border: 1px solid rgba(121,121,121,0.8);
    border-radius: 2px;
    width: 100%;
    max-width: 300px;
    padding: 9px 5px;
    margin-top: 5px;
    font-size: 16px;
    color: #252525;
}

.formInput:focus{
    border: 1px solid #c2151c;
}

.select-style {
    border: 1px solid rgba(121,121,121,0.8);
    width: 300px;
    border-radius: 2px;
    overflow: hidden;
}

.select-style select {
    padding: 10px 8px;
    width: 130%;
    border: none;    
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    font-size: 14px;
}

.select-style select:focus {
    outline: none;
}

.selectOptions{
    margin-bottom: 10px;
}

#subLabelText{
    color: rgba(121,121,121,1);
    font-size: 13px;
    font-weight: 500;
}

.marginup{
    margin-top: 20px;
}

input[type=checkbox]
{
  -webkit-appearance:checkbox;
}

.checkboxOption{
    margin-top: 8px;
}

.mainLabel{
    font-weight: 700;
    font-size: 14px;
}

.submitbtn{
    margin-top: 30px;
}

.submitbtn button{
    padding: 13px 15px;
    background: #c2151c;
    border-radius: 3px;
    opacity: 0.8;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .05em;
}

.submitbtn button:hover{
    opacity: 1;
}


/*THANK YOU PAGE*/
#thankyouPage .siteLinks a{
    color: #4A4A4A;
}

#thankyouPage .trigger{
    color: #fff !important;
}

.thankyouMessage{
    width: 90%;
    position: relative;
    display: block;
    max-width: 500px;
    min-height: 200px;
    margin-top: 100px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 68px 0px rgba(37,37,37,0.30);
    -moz-box-shadow: 0px 0px 68px 0px rgba(37,37,37,0.30);
    box-shadow: 0px 0px 68px 0px rgba(37,37,37,0.30);
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    text-align: center;
}

.thankyouMessage img{
    max-width: 120px;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    margin-top: -40px;
}

.thankyouMessage h1{
    text-align: center;
    color: #4A4A4A;
    font-weight: 700;
    padding-top: 110px;
    padding-left: 20px;
    padding-right: 20px;
}

.thankyouMessage p{
    padding: 30px 60px;
    text-align: center;
    font-size: 14px;
    color: #797979;
    line-height: 18px;
}

.thankyouMessage button{
    padding: 13px 15px;
    background: #c2151c;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 700;
    font-family: 'proxima_nova_altbold';
    text-transform: uppercase;
    opacity: 0.8;
}

.thankyouMessage button:hover{
    opacity: 1;
}


























