.storeHome{
    height: 100%;
    width: 100%;
    position: relative;
    background: #252525;
}

.storeDiv{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    max-width: 90%; 
}

.storeDiv h1{
    text-align: center !important;
    line-height: 48px;
    font-size: 30px;
    color: #fff;
}








