.trainingHeader{
    background: #252525;
    height: auto;
    min-height: 200px;
    max-height: 300px;
    background: url(/imgs/trainings/indheader-img.jpg); 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.trainingHeader .headerContent{
    margin-top: 100px;
    margin-bottom: 80px;
}

.trainingContent{
    height: auto;
    padding-top: 60px;
    padding-bottom: 80px;
}

.trainingContentInside{
    width: 90%;
    max-width: 1000px;
    margin: 0px auto;
    min-height: 200px;
}

.h1TrainingHeader img{
    height: 60px;
}

.h1TrainingHeader h1{
    color: #fff;
    font-size: 12px;
}

.pTrainingText{
    padding-top: 20px;
}

.pTrainingText p{
    color: #4A4A4A;
}

#trainingFeaturesHeading{
    padding-top: 80px;
}















































